body {
  height: 345px;
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6347;
}

.outer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5deb3;
  width: 230px;
  height: 230px;
  border: 2px solid black;
  padding: 20px;
}

.inner-small-box {
  background-color: #008080;
  height: 48px;
  width: 48px;
  border: 3px solid white;
}

.inner-long-box {
  background-color: #008080;
  height: 45px;
  width: 190px;
  border: 3px dashed white;
}
