* {
  box-sizing: border-box;
}

.container {
  width: 340px;
  align-items: center;
}

.header {
  position: relative;
  top: -10px;
  height: 110px;
  padding: 10px 10px;
  background-color: #fece32;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;
  font-weight: bold;
}

.search-bar {
  position: relative;
  height: 50px;
  background-color: white;
  margin: 0px 10px;
  padding: 10px 20px;
  border-radius: 25px;
  top: -35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 20px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.024);
}

.search-bar__input {
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: bold;
}

.search-bar__icon {
  color: rgba(0, 0, 0, 0.3);
}

.main {
  padding: 0px 20px;
}

.main-book {
  margin-bottom: 40px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
}

.main-book__image {
  border-radius: 10px;
}

.content {
  margin-left: 15px;
}

.content__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.content__author {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.content__rates {
  display: flex;
  margin-bottom: 15px;
}

.content__rate {
  font-size: 12px;
  margin-right: 3px;
}

.content__rate.on {
  color: #fece32;
}

.content__rate.off {
  color: rgba(0, 0, 0, 0.1);
}

.content__tags {
  display: flex;
  margin-bottom: 20px;
}

.content__tag {
  background-color: #f7f7f7;
  padding: 5px 8px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.content__btns {
  display: flex;
}

.content__bookmark-btn {
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fece32;
  padding: 10px;
  border-radius: 20px;
  margin-right: 30px;
}

.content__book-btn {
  display: flex;
  width: 120px;
  height: 35px;

  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  color: white;
  font-size: 12px;
}

.top-book {
  margin-bottom: 10px;
}

.top-book__items {
  display: flex;
  overflow-x: auto;
}

.top-book__item {
  margin-right: 10px;
}

.top-book__item .top-book__image {
  border-radius: 5px;
  margin-bottom: 10px;
}

.top-book__item .content__rate {
  font-size: 1px;
}

.popular-author__image {
  border-radius: 10px;
}
* {
  box-sizing: border-box;
}
